# Stripe API Keys
# 1. Add VITE_STRIPE_PUBLISHABLE_KEY to Settings > Environment Variables
# 2. Add STRIPE_SECRET_KEY to Settings > Environment Variables
VITE_STRIPE_PUBLISHABLE_KEY=pk_live_51TRbf3CRAAPpPNRgkgaEECxo7Z8mcMOM71Bds3lLP5j2DpEqmrhIEQ607GzfFuJuEcCkfxMttjw3wOu8uCu6EslE00MJToqYoz
STRIPE_SECRET_KEY=

# Supabase Config
# 1. Add VITE_SUPABASE_URL to Settings > Environment Variables
# 2. Add VITE_SUPABASE_ANON_KEY to Settings > Environment Variables
VITE_SUPABASE_URL=https://whomuxolcujktdgmxgbm.supabase.co
VITE_SUPABASE_ANON_KEY=
